
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <title>Problog Website Template | Home :: W3layouts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- Start-wrap -->
    <!-- Start-Header-->
    <div class="header">
        <div class="wrap">
            <!-- Start-logo-->
            <div class="logo">
                <a href="index.html"><img src="~/web/images/logo.png" title="logo" /></a>
            </div>
            <!-- End-Logo-->
            <!-- Start-Header-nav-->
            <div class="clear"> </div>
            <!-- End-Header-nav-->
        </div>
    </div>
    <div class="header-nav1">
        <div class="wrap">
            <ul>
                @*<li class="current"><a href="index.html">ANASAYFA</a></li>*@
                <li><a href="/MyBlogLayout/Index/">ANASAYFA</a></li>
                <li><a href="/NeOkusam/Index/">NE OKUSAM</a></li>
                <li><a href="/NeIzlesem/Index/">NE İZLESEM</a></li>
                <li><a href="/SiirZamani/Index/">ŞİİR ZAMANI</a></li>
                <li><a href="/Hakkimda/Index/">HAKKIMDA</a></li>
            </ul>
            <div class="search-bar">
                <ul>
                    <li><input type="text"></li>
                    <li><form><input type="submit" value="" /></form></li>
                </ul>
            </div>
        </div>
        <!-- End-Header-->
        <div class="clear"> </div>
        <!-- content-gallery-->
    </div>
    <div class="wrap">
        <div class="about">
            <div class="services-sidebar">
                
            </div>
            <div class="bloder-content">
               @RenderBody()
            </div>
            <div class="clear"> </div>
        </div>
    </div>
        <div class="clear"> </div>
    <!-- End-content-gallery-->
    <!-- DC Pagination:C9 Start -->
    
    <div class="clear"> </div>
    <div class="footer">
        <div class="wrap">
            <h3>YILDIRIMDAL</h3>
            <p>
                Lorem ipsum dolor sit amet, consect etur adipiscing elit. Vestibulum ut tortor urnati dunt

                dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultri dolore cie

                lorem ipsum commete.
            </p>
            <div class="footerlinks">
                <div class="share">
                    <li><a href="#" target="_blank" title="Facebook"><span class="social fbook"> </span></a></li>
                    <li><a href="#" target="_blank" title="twitter"><span class="social twitter"> </span></a></li>
                    <li><a href="#" target="_blank" title="tumblr"><span class="social tumblr"> </span></a></li><br />
                    <li><a href="#" target="_blank" title="delicious"><span class="social delicious"> </span></a></li>
                    <li><a href="#" target="_blank" title="delicious"><span class="social delicious"> </span></a></li>
                    <li><a href="#" target="_blank" title="dribbble"><span class="social dribbble"> </span></a></li>
                    <li><a href="#" target="_blank" title="evernote"><span class="social evernote"> </span></a></li>
                    <li><a href="#" target="_blank" title="stumbleupon"><span class="social stumbleupon"> </span></a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="footer1">
        <p class="link"><span>© 2023 pro_blog. All rights Reserved | Designed by&nbsp; <a href="http://w3layouts.com/"> YILDIRIMDAL</a>	</span></p>
    </div>
    <!-- End-wrap -->

</body>
</html>