
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyBlogLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>
    <div class="header">
        deneme
    </div>
    
    <div class="wrap">
        <div class="about">
            <div class="services-sidebar">
                <h4>Categories</h4>
                <ul>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
                </ul><br>
                <h4>Archives</h4>
                <ul>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Jan, 2012</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">Feb, 2012</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">March, 2012</a></li>
                    <li><img src="~/web/images/pointer.png" title="pointer" /><a href="#">April, 2012</a></li>
                </ul>
            </div>
            <div class="bloder-content">
                <div class="bloger-grid">
                    <div class="blog-img">
                        <img src="~/web/images/img11.jpg" title="img6" />
                    </div>
                    <div class="bloger-content">
                        <h5><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <ul>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">: 23-02-1989</a></li>
                            <li><a href="single.html"><span>Readmore</span></a></li>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
                <div class="bloger-grid">
                    <div class="blog-img">
                        <img src="~/web/images/img20.jpg" title="img6" />
                    </div>
                    <div class="bloger-content">
                        <h5><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <ul>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">: 23-02-1989</a></li>
                            <li><a href="single.html"><span>Read more</span></a></li>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="bloger-grid">
                    <div class="blog-img">
                        <img src="~/web/images/img2.jpg" title="img6" />
                    </div>
                    <div class="bloger-content">
                        <h5><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <ul>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">: 23-02-1989</a></li>
                            <li><a href="single.html"><span>Read more</span></a></li>
                        </ul>
                    </div>
                </div>
                <div style="border-bottom:none;" class="bloger-grid">
                    <div class="blog-img">
                        <img src="~/web/images/img15.jpg" title="img6" />
                    </div>
                    <div class="bloger-content">
                        <h5><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <ul>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">: 23-02-1989</a></li>
                            <li><a href="single.html"><span>Read more</span></a></li>
                        </ul>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>
    <!-- End-content-gallery-->
    <!-- DC Pagination:C9 Start -->
    <div class="wrap">
        <!-- DC Pagination:A3 Start -->
        <ul class="dc_pagination dc_paginationA dc_paginationA03">
            <li><a href="#" class="first">First</a></li>
            <li><a href="#" class="previous">Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#" class="current">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" class="next">Next</a></li>
            <li><a href="#" class="last">Last</a></li>
        </ul>
        <!-- DC Pagination:A3 End -->
        <div class="clear"> </div>
        <!-- DC Pagination:C9 End -->
    </div>
      
    <!-- End-wrap -->

</body>
</html>
